In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('Car_Models.csv')

In [2]:
df.head()

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
0,Ferrari,812 Superfast,789 hp,530 lb-ft,7-speed automatic,RWD,13/20 mpg,2,"$366,712",2018 - Present,Coupe,6.5L V12,12
1,Ferrari,F8 Tributo,710 hp,568 lb-ft,7-speed automatic,RWD,15/19 mpg,2,"$276,550",2020 - Present,Coupe,3.9L V8,8
2,Ferrari,Roma,611 hp,560 lb-ft,8-speed automatic,RWD,16/24 mpg,2,"$218,750",2021 - Present,Coupe,3.9L V8,8
3,Ferrari,Portofino M,612 hp,561 lb-ft,8-speed automatic,RWD,16/22 mpg,2,"$254,475",2021 - Present,Convertible,3.9L V8,8
4,Ferrari,SF90 Stradale,986 hp,590 lb-ft,8-speed automatic,AWD,18 mpg (combined),2,"$625,000",2020 - Present,Coupe,4.0L V8,8

In [3]:
df.columns.str.strip()

Index(['Company', 'Model', 'Horsepower', 'Torque', 'Transmission Type',
       'Drivetrain', 'Fuel Economy', 'Number of Doors', 'Price',
       'Model Year Range', 'Body Type', 'Engine Type', 'Number of Cylinders'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              404 non-null    object
 1   Model                404 non-null    object
 2   Horsepower           404 non-null    object
 3   Torque               404 non-null    object
 4   Transmission Type    404 non-null    object
 5   Drivetrain           404 non-null    object
 6   Fuel Economy         399 non-null    object
 7   Number of Doors      404 non-null    object
 8   Price                398 non-null    object
 9   Model Year Range     403 non-null    object
 10  Body Type            403 non-null    object
 11  Engine Type          403 non-null    object
 12  Number of Cylinders  402 non-null    object
dtypes: object(13)
memory usage: 41.2+ KB

In [5]:
df['Price'] = df['Price'].str.replace('$', '').str.replace(',' , '.')
df['Horsepower'] = df['Horsepower'].str.replace('hp', '')
df['Torque'] = df['Torque'].str.replace('lb-ft', '')

C:\Users\user\AppData\Local\Temp\ipykernel_7212\3217362396.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('$', '').str.replace(',' , '.')

In [6]:
df.head()

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
0,Ferrari,812 Superfast,789,530,7-speed automatic,RWD,13/20 mpg,2,366.712,2018 - Present,Coupe,6.5L V12,12
1,Ferrari,F8 Tributo,710,568,7-speed automatic,RWD,15/19 mpg,2,276.550,2020 - Present,Coupe,3.9L V8,8
2,Ferrari,Roma,611,560,8-speed automatic,RWD,16/24 mpg,2,218.750,2021 - Present,Coupe,3.9L V8,8
3,Ferrari,Portofino M,612,561,8-speed automatic,RWD,16/22 mpg,2,254.475,2021 - Present,Convertible,3.9L V8,8
4,Ferrari,SF90 Stradale,986,590,8-speed automatic,AWD,18 mpg (combined),2,625.000,2020 - Present,Coupe,4.0L V8,8

In [7]:
df['Horsepower'] = pd.to_numeric(df['Horsepower'] , errors = 'coerce')
df['Torque'] = pd.to_numeric(df['Torque'] , errors = 'coerce')
df['Number of Doors'] = pd.to_numeric(df['Number of Doors'] , errors = 'coerce').astype('Int64')
df['Price'] = pd.to_numeric(df['Price'] , errors = 'coerce')
df['Number of Cylinders'] = pd.to_numeric(df['Number of Cylinders'] , errors = 'coerce').astype('Int64')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              404 non-null    object
 1   Model                404 non-null    object
 2   Horsepower           318 non-null    float64
 3   Torque               312 non-null    float64
 4   Transmission Type    404 non-null    object
 5   Drivetrain           404 non-null    object
 6   Fuel Economy         399 non-null    object
 7   Number of Doors      355 non-null    Int64
 8   Price                75 non-null     float64
 9   Model Year Range     403 non-null    object
 10  Body Type            403 non-null    object
 11  Engine Type          403 non-null    object
 12  Number of Cylinders  356 non-null    Int64
dtypes: Int64(2), float64(3), object(8)
memory usage: 41.9+ KB

In [9]:
df['Company'] = df['Company'].str.lower()
df['Model'] = df['Model'].str.lower()
df['Body Type'] = df['Body Type'].str.lower()

In [10]:
df

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
0,ferrari,812 superfast,789.0,530.0,7-speed automatic,RWD,13/20 mpg,2,366.712,2018 - Present,coupe,6.5L V12,12
1,ferrari,f8 tributo,710.0,568.0,7-speed automatic,RWD,15/19 mpg,2,276.550,2020 - Present,coupe,3.9L V8,8
2,ferrari,roma,611.0,560.0,8-speed automatic,RWD,16/24 mpg,2,218.750,2021 - Present,coupe,3.9L V8,8
3,ferrari,portofino m,612.0,561.0,8-speed automatic,RWD,16/22 mpg,2,254.475,2021 - Present,convertible,3.9L V8,8
4,ferrari,sf90 stradale,986.0,590.0,8-speed automatic,AWD,18 mpg (combined),2,625.000,2020 - Present,coupe,4.0L V8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,tata motors,safari,NaN,NaN,"6-speed manual, 6-speed automatic",All-wheel drive,12.7 kmpl,7,NaN,2021-present,suv,2.0L turbocharged petrol,4
400,tata motors,altroz,90.0,NaN,"5-speed manual, AMT",Front-wheel drive,19.6 kmpl / 22.4 kmpl,5,NaN,2020-present,hatchback,1.2L turbocharged petrol,3
401,tata motors,tiago,70.0,NaN,5-speed manual,Front-wheel drive,23.84 kmpl / 26.59 kmpl,5,NaN,2016-present,hatchback,1.2L naturally aspirated petrol,3
402,tata motors,tigor,70.0,NaN,5-speed manual,Front-wheel drive,23.84 kmpl / 26.59 kmpl,5,NaN,2017-present,sedan,1.2L naturally aspirated petrol,3
403,tata motors,thar,NaN,NaN,"5-speed manual, 6-speed automatic","Rear-wheel drive, all-wheel drive",15.2 kmpl / 18 kmpl,5,NaN,2020-present,suv,2.0L turbocharged diesel,4

In [11]:
df.isnull().sum()

Company                  0
Model                    0
Horsepower              86
Torque                  92
Transmission Type        0
Drivetrain               0
Fuel Economy             5
Number of Doors         49
Price                  329
Model Year Range         1
Body Type                1
Engine Type              1
Number of Cylinders     48
dtype: int64

In [12]:
df['Horsepower'] = df['Horsepower'].fillna(0)
df['Torque'] = df['Torque'].fillna(0)
df['Fuel Economy'] = df['Fuel Economy'].fillna('unknow')
df['Number of Doors'] = df['Number of Doors'].fillna(0)
df['Price'] = df['Price'].fillna(0)
df['Model Year Range'] = df['Model Year Range'].fillna('unknow')
df['Body Type'] = df['Body Type'].fillna('unknow')
df['Engine Type'] = df['Engine Type'].fillna('unknow')
df['Number of Cylinders'] = df['Number of Cylinders'].fillna(0)

In [13]:
df.isnull().sum()

Company                0
Model                  0
Horsepower             0
Torque                 0
Transmission Type      0
Drivetrain             0
Fuel Economy           0
Number of Doors        0
Price                  0
Model Year Range       0
Body Type              0
Engine Type            0
Number of Cylinders    0
dtype: int64

In [14]:
df.drop_duplicates(keep=False, inplace=True)

In [15]:
df.duplicated().any()

False

# Q1. highest model have hoursepower

In [16]:
df[df['Horsepower'].max() == df['Horsepower']][['Horsepower' , 'Model']]

   Horsepower          Model
4       986.0  sf90 stradale

# Q2. how many models in bmw company

In [17]:
df[df["Company"].str.contains("bmw" , case = False)]["Company"].count()

8

# Q3. how many coupe cars

In [18]:
df[df["Body Type"].str.contains("coupe" , case = False)]["Body Type"].count()

51

# Q4. highest 5 models have Torque

In [19]:
df.sort_values(by=['Torque'], ascending = False).head(5)

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
268,rivian,r1s,835.0,908.0,4-motor all-wheel drive,0-60 mph in 3 seconds,314 miles,5,0.0,2022-Present,suv,Electric,0
267,rivian,r1t,835.0,908.0,4-motor all-wheel drive,0-60 mph in 3 seconds,314 miles,5,0.0,2022-Present,pickup truck,Electric,0
265,lucid motors,lucid air,819.0,908.0,Single-speed automatic,All-wheel drive,520 miles,5,0.0,2022-Present,sedan,Electric,0
254,koenigsegg,ccxr,806.0,885.0,7-speed dual-clutch automatic,Rear-wheel drive,9 mpg,2,0.0,2007-2008,coupe,V8,8
252,koenigsegg,ccxr trevita,0.0,885.0,7-speed dual-clutch automatic,Rear-wheel drive,9 mpg,2,0.0,2007-2008,coupe,V8,8

# Q5. highest 5 cars horsepower in 2023-2024

In [20]:
df[df["Model Year Range"].str.contains("2023-2024" , case = False)].sort_values(by=['Horsepower'], ascending = False)[['Company','Model','Horsepower']].head(5)

        Company                 Model  Horsepower
145         ram                   trx       702.0
171  alfa romeo  stelvio quadrifoglio       505.0
169  alfa romeo   giulia quadrifoglio       505.0
151       volvo          c40 recharge       408.0
153       volvo            polestar 2       408.0

# Q6. Company and the model have electric engine

In [23]:
df[df["Engine Type"].str.contains("Electric" , case = False)].sort_values(by=['Company'], ascending = False)[['Company','Model','Engine Type']]

,Company,Model,Engine Type
151,volvo,c40 recharge,Electric
152,volvo,xc40 recharge,Electric
153,volvo,polestar 2,Electric
131,tesla,model s,Electric
132,tesla,model 3,Electric
133,tesla,model x,Electric
134,tesla,model y,Electric
194,skoda,enyaq iv,Electric
201,seat,born,Electric
268,rivian,r1s,Electric
267,rivian,r1t,Electric
395,renault,zoe,Electric
187,renault,zoe,Electric
263,polestar,polestar 2,Electric
264,polestar,polestar 3,Electric
262,polestar,polestar 1,Electric
215,mini,cooper se,Electric
265,lucid motors,lucid air,Electric
266,lucid motors,lucid air dream edition performance,Electric
312,lotus,evija,Electric
90,lexus,es,Gas/Electric
245,koenigsegg,gemera,Twin-turbocharged V8 + 3 electric motors
160,jaguar,i-pace,Electric
294,fisker,ocean,Electric
295,fisker,pear,Electric
33,chevrolet,bolt ev,Electric